/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: linear-gradient(to right, rgba(73,192,240,0.3) 0%,rgba(44,175,227,0.3) 100%);
    
}

.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-pane .viewport{
    -fx-background-color: whitesmoke;
    
}

.button{
    -fx-background-color: linear-gradient(to bottom, rgb(179,220,237) 0%,rgb(41,184,229) 50%,rgb(188,224,238) 100%);
    
    -fx-font-family:"sans-serif";
    -fx-font-size: 10;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    
    
    -fx-background-radius: 10px;
    
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    
    -fx-padding: 5px;
    -fx-opacity: 1;
}

.button:hover{
    -fx-font-size: 14;    
    -fx-effect: dropshadow(two-pass-box, white, 10, 0.5, 1, 1);/*tipo de blur, color, radio, % propagacion, posX, posY */
    -fx-opacity: 0.9;
    -fx-background-size: 80px 80px;
}

.button:armed{
    -fx-border-width: 2px;
    -fx-border-color: #1C6EA4;
}

.button:disabled{
    -fx-opacity: 0.3;
}


.tree-view .scroll-bar:vertical{
       -fx-background-color: #94ff5f;
       -fx-pref-width: 25px; 
}

.tree-view .scroll-bar:horizontal{
       -fx-background-color: #94ff5f;
      -fx-pref-height: 25px;
}

.scroll-pane .scroll-bar:vertical{
       -fx-background-color:#0181e244;
       -fx-pref-width: 25px; 
}

.scroll-pane .scroll-bar:horizontal{
       -fx-background-color:#0181e244;
       -fx-pref-height: 25px;
}

.scroll-pane .scroll-bar:vertical .thumb{
    
       -fx-background-color: linear-gradient(to right, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
       -fx-effect: dropshadow( one-pass-box ,red , 30 , 0.0 , 0 , 0 );
       
     
}

.scroll-pane .scroll-bar:horizontal .thumb{
       -fx-effect: dropshadow( one-pass-box ,red , 30 , 0.0 , 0 , 0 );
}

#control{
   -fx-background-color: linear-gradient(to bottom, rgb(174,188,191) 0%,rgb(110,119,116) 50%,rgb(10,14,10) 51%,rgb(10,8,9) 100%);
}

#renombrar{
    -fx-background-color: linear-gradient(to bottom, rgb(184,198,223) 0%,rgb(109,136,183) 100%);
}

#contenedores{
    -fx-background-color: linear-gradient(to right, rgba(73,192,240,0.3) 0%,rgba(44,175,227,0.3) 100%);
    -fx-background-radius: 10px;
    -fx-border-color:#a793ee;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}

#salir{
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    
    -fx-background-color: linear-gradient(to right, rgba(255,26,0,1) 0%,rgba(255,26,0,1) 100%);
    -fx-background-radius: 2px;
    
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    
    -fx-opacity: 0.8;
}

#salir:hover{
        
    -fx-effect: dropshadow(two-pass-box, red, 10, 0.3, 0, 0);/*tipo de blur, color, radio, % propagacion, posX, posY */
    -fx-opacity: 1.0;
    -fx-font-size: 14;
}