/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: transparent;
    
    -fx-background-image: url("/proyectogestiondocumental/recursos/splash-fondo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 600px 400px;
    -fx-background-position: center center;
    
/*    -fx-effect: dropshadow(two-pass-box, blueviolet, 40, 0.1, 0, 0);tipo de blur, color, radio, % propagacion, posX, posY */
    -fx-effect: dropshadow(two-pass-box, white, 20, 0.7, 0, 0);/*tipo de blur, color, radio, % propagacion, posX, posY */
}

#titulo{
    -fx-effect: dropshadow(two-pass-box, rgb(73,155,234), 20, 0.7, 0, 0);/*tipo de blur, color, radio, % propagacion, posX, posY */
}