/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color:  linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    -fx-background-image: url("/proyectogestiondocumental/recursos/mensaje-fondo-4.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 800px 240px;
    -fx-background-position: left top;
}



#boton1{
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    
    -fx-background-color: linear-gradient(to right, rgba(255,26,0,1) 0%,rgba(255,26,0,1) 100%);
    -fx-background-radius: 2px;
    
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    
    -fx-opacity: 0.8;
}

#boton1:hover{
        
    -fx-effect: dropshadow(two-pass-box, red, 10, 0.3, 0, 0);/*tipo de blur, color, radio, % propagacion, posX, posY */
    -fx-opacity: 1.0;
    -fx-font-size: 14;
}

#boton1:armed{
    -fx-border-width: 1px;
    -fx-border-color: red;
}

#boton2{
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    
    -fx-background-color: linear-gradient(to right, rgba(182,224,38,1) 0%,rgba(182,224,38,1) 100%);
    -fx-background-radius: 2px;
    
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
    
    -fx-opacity: 0.8;
}

#boton2:hover{
        
    -fx-effect: dropshadow(two-pass-box, greenyellow, 10, 0.3, 0, 0);/*tipo de blur, color, radio, % propagacion, posX, posY */
    -fx-opacity: 1.0;
    -fx-font-size: 14;
}

#boton2:armed{
    -fx-border-width: 1px;
    -fx-border-color: red;
}

#titulo{
    -fx-text-fill: #a8a1a1;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    
/*    -fx-effect: dropshadow(two-pass-box, #ffd600, 20, 0.6, 0, 0);*/
    
}
